<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="uikit/css/uikit.css" rel="stylesheet" />
	<meta charset="utf-8" />
</head>
<body>
    <form name="registrationForm" class="uk-form" novalidate>
        <fieldset data-uk-margin>
            <div class="uk-grid">
                <div class="uk-width-1-2 uk-container-center">
                    <legend>Modifica password</legend>                    
                    <div class="uk-grid">
                        <div class="uk-width-1-2">
                            <input name="password" type="password" placeholder="Password" ng-model="newuser.params.password" required ng-minlength="8" ng-class="(registrationForm.username.$invalid && !registrationForm.username.$pristine) || registrationForm.password.$error.minlength ? 'uk-form-danger' : ''">
                            <p ng-show="registrationForm.password.$error.minlength" class="help-block">
                                La password deve essere composta da almeno 8 caratteri.
                            </p>
                        </div>
                        <div class="uk-width-1-2">
                            <input name="passwordConfirm" type="password" placeholder="Conferma password" ng-model="newuser.params.confirmPassword" required ng-minlength="8">
                            <p ng-show="newuser.params.password != newuser.params.confirmPassword" class="help-block">
                                La password e la password di conferma non coincidono.
                            </p>
                        </div>
                    </div>
                    <div class="uk-grid">
                        <div class="uk-width-1-1">
                            <button class="uk-button" ng-click="newuser.register()" ng-disabled="registrationForm.$invalid">Conferma</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>   
</body>
</html>
