.map_canvas {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@media (min-width: 1220px) {
    .angular-google-map-container {
        height: 450px;
    }

    .map_canvas {
        height: 450px;
    }
}

@media (min-width: 960px) and (max-width: 1219px) {
    .angular-google-map-container {
        height: 300px;
    }

    .map_canvas {
        height: 300px;
    }
}

@media (min-width: 768px) and (max-width: 959px) {
    .angular-google-map-container {
        height: 225px;
    }

    .map_canvas {
        height: 225px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .angular-google-map-container {
        height: 150px;
    }

    .map_canvas {
        height: 150px;
    }
}

.searchBox {
    width: 200px !important;
}

.marker-labels {
    font-size: small;
    font-style: italic;
    font-weight: bold;
    text-shadow: 5px 5px 5px #ffffff;
}
