html,
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

form-login .uk-grid ~ .uk-grid {
    margin-top: 5px !important;
}

form-login legend ~ legend {
    margin-top: 20px !important;
}

form-login legend,
form-login-side legend {
    text-align: center;
    font-size: small !important;
}

form-login-side {
    margin-bottom: 10px;
}

    form-login-side legend ~ legend {
        margin-top: 20px !important;
    }

.uk-grid.nomargin {
    margin: 0;
}

.uk-navbar-attached {
    position: fixed;
    width: 100%;
    z-index: 1;
}

#navbar-side legend {
    color: #fff;
}

#navbar-side .nav-header-username {
    text-transform: none;
}

legend > i {
    font-size: 12px;
}
/*****************************
 colori per icone font-awesome
 *****************************/
i.fa.fa-status-ok {
    color: #07d;
}

i.fa.fa-status-warn {
    color: #d32c46;
}
/********************
 bottoni login social
 ********************/
.btn-social {
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

    .btn-social i {
        vertical-align: middle;
    }

        .btn-social i.fa-google-plus {
            color: #dd4b39;
        }

        .btn-social i.fa-facebook {
            color: #3b5998;
        }

        .btn-social i.fa-twitter {
            color: #55acee;
        }
/*******
 Ricerca
 *******/
games-search,
exchange-search {
    vertical-align: middle;
}

    games-search .uk-form-row,
    exchange-search .uk-form-row {
        width: 300px;
    }

    games-search .uk-dropdown,
    exchange-search .uk-dropdown {
        left: auto;
    }

    games-search span,
    exchange-search span {
        display: inline-block;
        text-align: right;
        width: 80px;
    }

    games-search .uk-button span,
    exchange-search .uk-button span {
        text-align: left;
        width: calc(80%);
    }

    games-search fieldset div,
    exchange-search fieldset div {
        margin-top: 0 !important;
    }

        games-search fieldset div:not(:last-child),
        exchange-search fieldset div:not(:last-child) {
            margin-bottom: 10px;
        }

    games-search input,
    exchange-search input {
        width: 200px;
    }

    games-search .uk-button-dropdown, 
    exchange-search .uk-button-dropdown {
        width: 200px;
    }

        games-search .uk-button-dropdown .uk-button,
        exchange-search .uk-button-dropdown .uk-button {
            width: 100%;
        }

        games-search .uk-modal-dialog {
            width: 700px;
        }

        games-search #gameAdd textarea{
            width: 200px;
            max-width : 200px;
        }


mailbox tr.message {
    cursor: pointer;
    cursor: hand;
}

mailbox tr.hover {
    background: #eee;
}

message .uk-grid.small-margin,
message-new .uk-grid.small-margin {
    margin-top: 10px;
}

.logo-small {
    background: url(../css/images/logoMaxi.svg);
    width: 100%;
    height: auto !important;
}

.logo-big {
    width: 100%;
    height: auto !important;
    background: url(../css/images/logoMaxi.svg);
}


div.footer {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
}

div.content {
    padding-bottom: 200px;
    padding-top: 50px;
}

div.wrapper {
    min-height: 100%;
    position: relative;
}

@media screen and (max-width: 768px) {
    div.footer {
        height: 350px;
    }

    div.content {
        padding-bottom: 350px;
        padding-top: 50px;
    }
}

.checkboxUnderButton {
    margin-left:9px !important;
    margin-right:9px !important;
}

.userImageBorder {
    border: solid 1px;
}