@base-font: "Open Sans", sans-serif;
@header-font: Georgia;
/*
h1, h2, h3, h4 {
    font-family: @header-font;
}
.large {
    font-family:@header-font;
}*/

html, body {
  font-family: @base-font;
}

div.content {
  padding-top: 50px;
  margin: 0 10px;
}

// tutti tranne il primo di classe uk-grid
form-login .uk-grid ~ .uk-grid {
  margin-top: 5px !important;
}

form-login legend ~ legend {
  margin-top: 20px !important;
}

form-login legend, form-login-side legend {
  text-align: center;
  font-size: small !important;
}

form-login-side {
  margin-bottom: 10px;
}

form-login-side legend ~ legend {
  margin-top: 20px !important;
}

.uk-grid.nomargin {
  margin: 0;
}

.uk-navbar-attached {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#navbar-side {
  legend {
    color: #fff;
  }
  
  .nav-header-username {
    text-transform: none;
  }
}

legend > i {
  font-size: 12px;
}

/*****************************
 colori per icone font-awesome
 *****************************/
i.fa {
  &.fa-status-ok {
    color: #07d;
  }
  &.fa-status-warn {
    color:#d32c46;
  }
}

/********************
 bottoni login social
 ********************/
.btn-social {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  
  i {
    vertical-align: middle;
    
    &.fa-google-plus {
      color: #dd4b39;
    }
    
    &.fa-facebook {
      color: #3b5998;
    }
    
    &.fa-twitter {
      color: #55acee;
    }
  }
}

/*******
 Ricerca
 *******/
@block-width: 300px;
@span-width: 80px;
@input-width: 200px;

games-search, exchange-search {
  vertical-align: middle;
  
  .uk-form-row {
    width: @block-width;
  }
  
  .uk-dropdown {
    left: auto;
  }
  
  span {
    display: inline-block;
    text-align: right;
    width: @span-width;
  }
  
  .uk-button {
    span {
      text-align: left;
      width: calc(100% - 20px);
    }
  }
  
  fieldset div {
    margin-top: 0 !important;
  }
  
  fieldset div:not(:last-child) {
    margin-bottom: 10px;
  }
  
  input {
    width: @input-width;
  }
  
  .uk-button-dropdown {
    width: @input-width;
    
    .uk-button {
      width: 100%;
    }
  }
}

mailbox {
  tr.message {
    cursor: pointer;
    cursor: hand;
  }

  tr.hover {
    background: #eee;
  }
}

message, message-new {
  .uk-grid.small-margin {
    margin-top: 10px;
  }
}