<article>
    <p align="center">
        <b>Come funziona.</b>
    </p>
    <p align="center">
        <b> </b>
    </p>
    <p align="center">
        <b>1 Iscriversi.</b>
    </p>
    <p>
        Per prima cosa è necessario iscriversi a uplayagain.com. Iscriversi è semplicissimo, basta cliccare sull’icona in alto a destra(registrati) e seguire le
        semplici istruzioni, oppure se fai già parte della nostra community basta effettuare il login.
    </p>
    <p align="center">
        <b>2 Creare la libreria.</b>
    </p>
    <p>
        Una volta iscritto, per prima cosa ti verrà chiesto di creare la tua libreria. La “libreria” è l’insieme di tutti i videogiochi che possiedi e che gli
        altri utenti in fase di baratto potranno chiederti come contropartita (non ti preoccupare, se possiedi qualche titolo che reputi incedibile lo puoi sempre
        contrassegnare e quindi renderlo indisponibile al baratto). Per creare la propria libreria basta digitare il titolo del videogioco e la piattaforma per la
        quale lo si possiede nel nostro motore di ricerca (esempio: fifa 15; piattaforma Ps4). Una volta individuato cliccare sul pulsante aggiungi alla mia
        libreria e il gioco è fatto. Nel caso che i videogiochi che si possiedono non siano in perfette condizioni, ad esempio mancanti del libretto d’istruzioni,
        con la custodia rovinata, oppure siano edizioni speciali, sotto ad ogni titolo ti verrà data la possibilità di dare una piccola descrizione delle
        condizioni in cui si trova il videogioco.
    </p>
    <p align="center">
        <b>3 Cercare un videogioco.</b>
    </p>
    <p>
        Ora clicca sull’icona in alto “baratto”, una volta deciso il titolo del gioco che vorresti provare scrivilo nell’apposita casella “ricerca gioco”, mi
        raccomando non dimenticarti di selezionare anche la piattaforma per il quale lo cerchi. Consigliamo anche di selezionare anche la distanza massima in
        chilometri entro la quale si desidera ampliare la ricerca, questo passo risulta fondamentale soprattutto se si vuole effettuare lo scambio di persona senza
        dover utilizzare il servizio delle poste italiane.
    </p>
    <p align="center">
        <b>3 Il baratto.</b>
    </p>
    <p>
        Ora la ricerca ti mostrerà un certo numero di utenti che possiedono il gioco che desideri ai quali tu potrai mandare una richiesta di scambio (similmente a
        quanto avviene in Facebook con le richieste d’amicizia). L’utente che riceve la richiesta sarà quindi libero di visualizzare la tua libreria e, se
        interessato, chiederti in scambio un tuo gioco o altrimenti rifiutare la richiesta. Una volta accettato lo scambio i titoli coinvolti scompariranno dalla
        vostra libreria che si aggiornerà in automatico con il titolo del nuovo gioco che avete appena acquisito. L’intera fase del baratto avviene tramite lo
        scambio di messaggi nella nostra comoda chat.
    </p>
    <p>
        Consigliamo di mandare richieste di scambio a più utenti per un stesso gioco, in tal modo si avranno più possibilità di portare a buon fine il baratto.
    </p>
    <p align="center">
        <b>4 Lo scambio del gioco.</b>
    </p>
    <p>
        Una volta che ci si è accordati sui videogiochi da scambiare, non resta che decidere come effettuare lo scambio. Se la persona con cui effettuate lo
        scambio si trova nelle vostre vicinanze (in questo caso risulta fondamentale la ricerca per distanza in chilometri), consigliamo di accordarsi per
        effettuare lo scambio di persona, altrimenti consigliamo di avvalersi del servizio delle poste italiane.
    </p>
    <p>
        Per info e costi di spedizione vi rimandiamo alla sezione dedicata.
    </p>
    <p>
        Ricordiamo inoltre che il videogioco scambiato non è dato in prestito ma è scambiato a titolo definitivo.
    </p>
    <p align="center">
        <b>5 Lasciare il feedback.</b>
    </p>
    <p>
        Ora sei pronto per giocare con il tuo nuovo videogioco, non dimenticarti però di lasciare il feedback sullo scambio. Buon baratto!
    </p>
    <p>
        Per conoscere cosa sono e come funzionano i feedback vi rimandiamo alla sezione dedicata, “area feedback”.
    </p>
</article>