<form class="uk-form">
  <fieldset>
    <legend>Ricerca</legend>
    <div class="uk-form-row uk-display-inline-block">
      <span>&nbsp;</span>
      <input type="text" placeholder="Titolo" ng-model="search.params.string">
    </div>
    <div class="uk-form-row uk-display-inline-block">
      <span>Genere</span>
      <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
        <button class="uk-button">
          <span>{{search.params.genre == undefined? search.GENRES_ALL : search.params.genre.name}}</span>
          <i class="uk-icon-caret-down"></i>
        </button>
        <div class="uk-dropdown">
          <ul class="uk-nav uk-nav-dropdown">
            <li><a href="" ng-click="search.setGenre(undefined)">{{search.GENRES_ALL}}</a></li>
            <li class="uk-nav-divider"></li>
            <li ng-repeat="genre in search.genres">
              <a href="" ng-click="search.setGenre(genre)">{{genre.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--Piattaforma-->
    <div class="uk-form-row uk-display-inline-block">
      <span>Piattaforma</span>
      <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
        <button class="uk-button">
          <span class="{{search.params.platform.class}}">{{search.params.platform == undefined? search.PLATFORMS_ALL : search.params.platform.name}}</span>
          <i class="uk-icon-caret-down"></i>
        </button>
        <div class="uk-dropdown">
          <ul class="uk-nav uk-nav-dropdown">
            <li><a href="" ng-click="search.setPlatform(undefined)">{{search.PLATFORMS_ALL}}</a></li>
            <li class="uk-nav-divider"></li>
            <li ng-repeat="platform in search.platforms">
                <span class="{{platform.class}}"></span><a href="" ng-click="search.setPlatform(platform)">{{platform.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-form-row uk-display-inline-block">
      <span>Entro</span>
      <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
        <button class="uk-button">
          <span>{{search.params.distance == undefined? search.DISTANCES_ALL : search.params.distance + " km"}}</span>
          <i class="uk-icon-caret-down"></i>
        </button>
        <div class="uk-dropdown">
          <ul class="uk-nav uk-nav-dropdown">
            <li><a href="" ng-click="search.setDistance(undefined)">{{search.DISTANCES_ALL}}</a></li>
            <li class="uk-nav-divider"></li>
            <li ng-repeat="distance in search.distances">
              <a href="" ng-click="search.setDistance(distance)">{{distance}} km</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="uk-form-row uk-display-inline-block">
      <span>&nbsp;</span>
      <button class="uk-button uk-button-primary" ng-click="search.startSearch()">Cerca...</button>
    </div>
  </fieldset>
</form>
<form class="uk-form" ng-show="search.searchPerformed">
  <fieldset>
    <legend>Risultati <i>Trovati {{search.results.searchGame.length}} record</i></legend>
  </fieldset>
  <table class="uk-table">
    <thead>
      <tr>
        <th>Titolo</th>
        <th>Genere</th>
        <th>Piattaforma</th>
        <th>Luogo</th>
        <th>Distanza</th>
        <th>Utente</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="6"></td>
      </tr>
    </tfoot>
    <tbody>
      <tr ng-repeat="game in search.results.searchGame">
        <td>{{game.title}}</td>
        <td>{{search.getGenreById(game.Genre).name}}</td>
        <td>{{search.getPlatformById(game.Platform).class}}</td>
        <td>dove</td>
        <td>dist</td>
        <td><user-link data-user-id='1'></user-link></td>
      </tr>
    </tbody>
</table>
</form>