<form class="uk-form">
    <table class="uk-table">
        <tbody>
            <tr ng-repeat="item in feedbackVote.currentTransactionToVote">
                <td colspan="2">
                    <table>
                        <thead>
                            <tr>
                                <td><user-link data-user='{{ item.userProponent_Id }}'></user-link></td>
                                <td><user-link data-user='{{ item.userReceiving_Id }}'></user-link></td>
                                <td>
                                    <i class="uk-icon-thumbs-up uk-icon-medium uk-icon-button " ng-click="feedbackVote.AddFeedback(item.transactionId,1)" />
                                    <i class="uk-icon-thumbs-down uk-icon-medium uk-icon-button " ng-click="feedbackVote.AddFeedback(item.transactionId,-3)" />
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    <div class="uk-accordion" data-uk-accordion="{collapse: false}">
                                        <h3 class="uk-accordion-title">Proposta</h3>
                                        <div class="uk-accordion-content">
                                            <table>
                                                <!--Unica riga di intestazione con i dati della proposta-->
                                                <thead>
                                                    <tr ng-repeat="itemProposal in item.proposals">
                                                        <td>{{itemProposal.ProposalObject}}</td>
                                                        <td>{{itemProposal.ProposalText}}</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Fare le schede dei giochi -->
                                                    <tr ng-repeat="itemComponent in item.proposals[0].proposalComponents">
                                                        <td>{{itemComponent.libraryComponents.games.genre.name}}</td>
                                                        <td>
                                                            <article class="uk-comment">
                                                                <header class="uk-comment-header">
                                                                    <img class="uk-comment-avatar" src="data:image/gif;base64,{{itemComponent.libraryComponents.games.image}}" alt="{{itemComponent.libraryComponents.games.title}}" style="height:80px">
                                                                    <h4 class="uk-comment-title">{{itemComponent.libraryComponents.game.gameData.title}}</h4>
                                                                    <div class="uk-comment-meta">{{itemComponent.libraryComponents.language.description}} - {{itemComponent.libraryComponents.status.description}}</div>                                                                    
                                                                    <div class="uk-comment-meta">{{itemComponent.libraryComponents.note}}</div>     
                                                                    <div class="uk-comment-meta">{{itemComponent.libraryComponents.status}}</div>
                                                                    <div class="uk-comment-meta">{{itemComponent.libraryComponents.gameLanguage-description}}</div> 
                                                                </header>
                                                            </article>
                                                        </td>                                                  
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</form>
