<p align="center">
    <strong>Area feedback.</strong>
</p>
<p align="center">
    <strong> </strong>
</p>
<p>
    Cosa sono i feedback, come funzionano? Questo sito come molti altri utilizza il sistema dei feedback, questi non sono altro che uno strumento con il quale
    gli utenti possono lasciare un giudizio positivo o negativo sullo scambio appena concluso. Una volta completato lo scambio, ossia nel momento in cui
    l’utente si trova con la copia fisica del videogioco, è tenuto a lasciare un voto(feedback).
</p>
<p>
    La totalità del punteggio che ogni utente andrà ad acquisire nel tempo, servirà a creare e a dare la possibilità alle altre persone di valutare la
    credibilità della persona con cui ha intenzione di effettuare uno scambio. Infatti a lato del nome di ogni utente sarà sempre presente un numero che
    rappresenta il vostro punteggio feedback.
</p>
<p align="center">
    <strong>I punteggi feedback sono così classificati:</strong>
</p>
<p align="center">
    <strong> </strong>
</p>
<p>
    ~ + 1 punto per ogni voto positivo
</p>
<p>
    ~ - 3 punti per ogni voto negativo
</p>
<p>
    I feedback negativi possono e devono essere lasciati nel caso in cui un utente al termine dello scambio, riscontri un comportamento scorretto da parte di
    un altro utente, oppure nel caso in cui il prodotto non risulti come nella descrizione (rotto, non funzionante, mancante di alcune componenti etc.).
</p>
<p align="center">
    <strong>L’importanza dei feedback.</strong>
</p>
<p>
    Ricordiamo come il sistema dei feedback sia il metodo migliore per escludere dagli scambi alcune persone furbe, e di conseguenza rendere uplayagain.com un
    luogo dove barattare videogiochi in modo più sicuro possibile. Quindi ricordatevi di lasciare i feedback al termine dello scambio.
</p>
