<ul class="uk-grid uk-text-center uk-grid-width-1-1 uk-grid-width-medium-1-2 uk-grid-width-large-1-3">
    <li ng-repeat="game in library.games" style="margin-bottom:5px">
        <article class="uk-comment uk-animation-shake">
            <header class="uk-comment-header">
                <img class="uk-comment-avatar" ng-src="data:image/gif;base64,{{game.gameData.image}}" alt="{{game.gameData.title}}" style="height:80px" 
                     ng-click="library.loadImage(game.gameData.gameId)" data-uk-tooltip title="Clicca per ingrandire" data-uk-modal="{target:'#gameImage'}">
                <h4 class="uk-comment-title">{{game.gameData.title}}</h4>
                <div class="uk-comment-meta">{{game.gameData.language.description}} - {{game.gameData.status.description}}</div>
                <div class="uk-text-right uk-text-bottom">
                    <i ng-show="game.isExchangeable" class="uk-icon-exchange uk-icon-spin"></i>
                    <div class="uk-button-group" ng-show="{{game.canEdit}}">                        
                        <button class="uk-button" data-uk-tooltip title="Modifica" ng-click="library.editGame(game)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="uk-button uk-button-danger" data-uk-tooltip title="Rimuovi" ng-click="library.removeGame(game)">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
            </header>
        </article>
    </li>
    <li>
        <article class="uk-comment" ng-click="library.addGame()" style="cursor:pointer">
            <header class="uk-comment-header">
                <h4 class="uk-comment-title">Aggiungi nuovo</h4>
                <div class="uk-comment-meta">&nbsp;</div>
            </header>
        </article>
    </li>
</ul>

<!-- Modale di editor -->
<div id="gameEditor" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <form class="uk-form">
            <fieldset data-uk-margin>
                <legend>{{library.editingGame.gameData.title}}</legend>
                <div class="uk-form-row">
                    <div class="uk-grid">
                        <div class="uk-width-1-3 uk-text-right">
                            Lingua
                        </div>
                        <div class="uk-width-2-3">
                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                <button class="uk-button">
                                    <span>{{library.editingGame.gameData.language.description}}</span>
                                    <i class="uk-icon-caret-down"></i>
                                </button>
                                <div class="uk-dropdown">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li ng-repeat="language in library.gameSrv.languages">
                                            <a href="" ng-click="library.setLanguage(language)">{{language.description}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid">
                        <div class="uk-width-1-3 uk-text-right">
                            Stato
                        </div>
                        <div class="uk-width-2-3">
                            <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
                                <button class="uk-button">
                                    <span>{{library.editingGame.gameData.status.description}}</span>
                                    <i class="uk-icon-caret-down"></i>
                                </button>
                                <div class="uk-dropdown">
                                    <ul class="uk-nav uk-nav-dropdown">
                                        <li ng-repeat="status in library.gameSrv.statuses">
                                            <a href="" ng-click="library.setStatus(status)">{{status.description}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid">
                        <div class="uk-width-1-3 uk-text-right">
                            Note<br />
                            <small>caratteri rimanenti: {{library.getRemainingChars()}}</small>
                        </div>
                        <div class="uk-width-2-3">
                            <textarea maxlength="200" ng-model="library.editingGame.gameData.note"></textarea>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid">
                        <div class="uk-width-1-3 uk-text-right">
                            Disponibile per scambio
                        </div>
                        <div class="uk-width-2-3">
                            <button class="uk-button" ng-click="library.toggleTrade()" style="width: 30px">
                                <i class="fa" ng-class="library.editingGame.gameData.isExchangeable ? 'fa-check' : ''"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row uk-text-center">
                    <button class="uk-button uk-button-primary" ng-click="library.saveChanges(library.editingGame)">
                        Salva
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<!-- Modale di visualizzazione immagine -->
<div id="gameImage" class="uk-modal">
    <div class="uk-modal-dialog" ng-class="library.selectedImage != ''?'uk-modal-dialog-lightbox':''">
        <a class="uk-modal-close uk-close uk-close-alt"></a>
        <div class="uk-modal-spinner" ng-hide="library.selectedImage != ''"></div>
        <img class="uk-align-center imageLightBox" ng-src="data:image/gif;base64,{{library.selectedImage}}" alt="" ng-show="library.selectedImage != ''">
    </div>
</div>