<div data-uk-slideshow="{autoplay:true}" class="uk-margin uk-width-1-1">
    <ul class="uk-slideshow">
        <li ng-repeat="game in gamesLast.games">
            <img ng-src="data:image/gif;base64,{{game.image}}" alt="{{game.title}}" data-uk-tooltip title="{{game.title}}" height="300">
            <div class="uk-overlay-panel uk-overlay-background uk-overlay-fade">{{game.title}}</div>
        </li>
    </ul>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
    <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
        <li ng-repeat="game in gamesLast.games" data-uk-slideshow-item="{{$index}}"><a href=""></a></li>
    </ul>
</div>