<form class="uk-form">
    <fieldset>
        <legend>Mailbox</legend>
    </fieldset>
    <div class="uk-grid nomargin">
        <ul class="uk-nav uk-width-medium-1-6">
            <li ng-class="mailbox.params.direction==='in' ? 'uk-active' : ''">
                <a href="#/mail/in/1"><i class="fa fa-sign-in"></i> Ricevuti({{ mailbox.messagesCount.in }})</a>
            </li>
            <li ng-class="mailbox.params.direction==='out' ? 'uk-active' : ''">
                <a href="#/mail/out/1"><i class="fa fa-sign-out"></i> Inviati({{ mailbox.messagesCount.out }})</a>
            </li>
            <li ng-class="mailbox.params.direction==='transactions' ? 'uk-active' : ''">
                <a href="#/mail/transaction/1"><i class="fa fa-archive"></i> Scambi({{ mailbox.messagesCount.trn }})</a>
            </li>
        </ul>
        <div class="uk-width-medium-5-6">
            <table class="uk-table uk-table-condensed" ng-show="!mailbox.showTransactions">
                <thead>
                    <tr>
                        <th>
                            <button class="uk-button uk-button-small uk-button-success uk-icon-eye" type="button" ng-click="mailbox.massiveReadMail()" data-uk-tooltip title="Segna come letti"></button>
                            <button class="uk-button uk-button-small uk-button-primary uk-icon-eye-slash" type="button" ng-click="mailbox.massiveUnReadMail()" data-uk-tooltip title="Segna NON come letti"></button>
                            <button class="uk-button uk-button-small uk-button-danger uk-icon-trash" type="button" ng-click="mailbox.massiveDeleteMail()" data-uk-tooltip title="Rimuovi i messaggi"></button>
                        </th>
                        <th>Letto</th>
                        <th>Data</th>
                        <th>Titolo</th>
                        <th>{{ mailbox.params.direction == 'in' ? 'Mittente' : 'Destinatario' }}</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr class="message" ng-repeat="mail in mailbox.messages" ng-mouseover="mailbox.hoverIn(mail)" ng-mouseleave="mailbox.hoverOut(mail)" ng-class="mail.hovered ? 'hover': ''">
                        <td>
                            <div class="uk-form-stacked">
                                <input class="checkboxUnderButton" ng-click="mail.checkRead = !mail.checkRead" ng-disabled="mailbox.isAlreadyReadMail(mail)" type="checkbox" />
                                <input class="checkboxUnderButton" ng-click="mail.checkUnRead = !mail.checkUnRead" ng-disabled="!mailbox.isAlreadyReadMail(mail)" type="checkbox" />
                                <input class="checkboxUnderButton" ng-click="mail.checkDelete = !mail.checkRead" type="checkbox" />
                            </div>
                        </td>
                        <td ng-click="mailbox.open(mail)">
                            <span class="uk-icon-small" ng-class="mailbox.isAlreadyReadMail(mail) ? 'uk-icon-eye' : 'uk-icon-eye-slash'"></span>
                        </td>
                        <td ng-click="mailbox.open(mail)">
                            {{ mail.messageDate | date: 'dd-MM-yyyy HH:mm'}}
                        </td>
                        <td ng-click="mailbox.open(mail)">
                            {{ mail.messageObject }}
                        </td>
                        <td ng-click="mailbox.open(mail)">
                            <span ng-show="mailbox.params.direction == 'in'"><user-link data-user='{{ mail.userProponent_Id }}'></user-link></span>
                            <span ng-show="mailbox.params.direction != 'in'"><user-link data-user='{{ mail.userReceiving_Id }}'></user-link></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- disegno le transazioni. Per ogni transazione ho una sola proposta attiva -->
            <div class="uk-table uk-table-condensed" ng-show="mailbox.showTransactions">
                <div class="uk-accordion" data-uk-accordion="{showfirst: true}">
                    <div ng-repeat="transaction in mailbox.transactions">
                        <h3 class="uk-accordion-title">
                            Scambio di {{transaction.myItems.length + transaction.theirItems.length}} giochi con l'utente <user-link data-user='{{ transaction.userId }}'></user-link>
                        </h3>
                        <div class="uk-accordion-content">
                            <!--Bottoni-->
                            <div class="uk-grid uk-grid-divider">
                                <div class="uk-width-2-4">
                                    <button ng-show="mailbox.myStatusVisibilityButton(transaction, 1)" class="uk-button uk-button-success" ng-click="mailbox.changeMyTranStatus(transaction, 1)" type="button"><span class="uk-icon-thumbs-up uk-icon-small" /> accetta</button>
                                    <button ng-show="mailbox.myStatusVisibilityButton(transaction, 2)"  class="uk-button uk-button-danger" ng-click="mailbox.changeMyTranStatus(transaction, 2)" type="button"><span class="uk-icon-thumbs-down uk-icon-small" /> rifiuta</button>
                                    <button ng-show="mailbox.myStatusVisibilityButton(transaction, 3)" class="uk-button uk-button-danger" ng-click="mailbox.changeMyTranStatus(transaction, 3)" type="button"><span class="uk-icon-times uk-icon-small" /> annulla</button>
                                    <button ng-show="mailbox.myStatusVisibilityButton(transaction, 4)" class="uk-button uk-button-primary" ng-click="mailbox.raiseOffer(transaction)" type="button"><span class="uk-icon-plus-circle uk-icon-small" /> rilancia</button>
                                </div>
                                <div class="uk-width-2-4">
                                    <button ng-show="transaction.theirStatus === 0" class="uk-button uk-button-primary" type="button" disabled><span class="uk-icon-clock-o uk-icon-small" /> da approvare</button>
                                    <button ng-show="transaction.theirStatus === 1" class="uk-button uk-button-success" type="button" disabled><span class="uk-icon-thumbs-up uk-icon-small" /> accettata</button>                                                        
                                </div>
                            </div>
                            <!-- Messaggi proposta -->
                            <div class="uk-panel uk-panel-box uk-panel-box-primary">                                                    
                                <h3 class="uk-panel-title"><i class="uk-icon-envelope"/>&nbsp;{{transaction.proposal.proposalObject}}</h3>
                                <span>{{transaction.proposal.proposalText}}</span>
                            </div>
                            <!--Componenti della proposta-->
                            <div class="uk-grid uk-grid-divider">
                                <div class="uk-width-2-4">
                                    <ul class="uk-grid uk-text-center uk-grid-width-1-1 uk-grid-width-medium-1-2">
                                        <li ng-repeat="item in transaction.myItems" style="margin-bottom:5px">
                                            <article class="uk-comment uk-animation-shake">
                                                <header class="uk-comment-header">
                                                    <img class="uk-comment-avatar" ng-src="data:image/gif;base64,{{item.game.gameData.image}}" alt="{{item.game.gameData.title}}" style="height:80px">
                                                    <h4 class="uk-comment-title">{{item.game.gameData.title}}</h4>
                                                    <div class="uk-comment-meta">{{item.game.gameData.language.description}} - {{item.game.gameData.status.description}}</div>
                                                </header>
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                                <div class="uk-width-2-4">
                                    <ul class="uk-grid uk-text-center uk-grid-width-1-1 uk-grid-width-medium-1-2">
                                        <li ng-repeat="item in transaction.theirItems" style="margin-bottom:5px">
                                            <article class="uk-comment uk-animation-shake">
                                                <header class="uk-comment-header">
                                                    <img class="uk-comment-avatar" ng-src="data:image/gif;base64,{{item.game.gameData.image}}" alt="{{item.game.gameData.title}}" style="height:80px">
                                                    <h4 class="uk-comment-title">{{item.game.gameData.title}}</h4>
                                                    <div class="uk-comment-meta">{{item.game.gameData.language.description}} - {{item.game.gameData.status.description}}</div>
                                                </header>
                                            </article>
                                        </li>
                                    </ul>
                                </div>
                            </div>                                
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>