<form class="uk-form">
    <fieldset>
        <legend>Mailbox</legend>
    </fieldset>
    <div class="uk-grid nomargin">
        <ul class="uk-tab uk-tab-left uk-width-medium-1-6" data-uk-tab>
            <li ng-class="mailbox.params.direction==='in' ? 'uk-active' : ''">
                <a href="#/mail/in/1"><i class="fa fa-sign-in"></i> Ricevuti({{ mailbox.messagesCount.in }})</a>
            </li>
            <li ng-class="mailbox.params.direction==='out' ? 'uk-active' : ''">
                <a href="#/mail/out/1"><i class="fa fa-sign-out"></i> Inviati({{ mailbox.messagesCount.out }})</a>
            </li>
            <li ng-class="mailbox.params.direction==='transactions' ? 'uk-active' : ''">
                <a href="#/mail/transaction/1"><i class="fa fa-archive"></i> Scambi({{ mailbox.messagesCount.trn }})</a>
            </li>
        </ul>
        <div class="uk-width-medium-5-6">
            <table class="uk-table uk-table-condensed" ng-show="!mailbox.showTransactions">
                <thead>
                    <tr>
                        <th></th>
                        <th>Data</th>
                        <th>Titolo</th>
                        <th>{{ mailbox.params.direction == 'in' ? 'Mittente' : 'Destinatario' }}</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr class="message" ng-repeat="mail in mailbox.messages" ng-mouseover="mailbox.hoverIn(mail)" ng-mouseleave="mailbox.hoverOut(mail)" ng-class="mail.hovered ? 'hover': ''" ng-click="mailbox.open(mail)">
                        <td><i class="fa fa-heart"></i></td>
                        <td>{{ mail.messageDate | date: 'dd-MM-yyyy HH:mm'}}</td>
                        <td>{{ mail.messageObject }}</td>
                        <td><user-link data-user='{{ mail.userProponent_Id }}'></user-link></td>
                    </tr>
                </tbody>
            </table>
            <!-- disegno le transazioni. Per ogni transazione ho una sola proposta attiva -->
            <div class="uk-accordion" data-uk-accordion="{collapse: false, showfirst: true, animate: true}">
                <div class="uk-table uk-table-condensed" ng-show="mailbox.showTransactions">
                    <div ng-repeat="transaction in mailbox.transactions">
                        <h3 class="uk-accordion-title">
                            Scambio di {{transaction.myItems.length + transaction.theirItems.length}} giochi con l'utente <user-link data-user='{{ transaction.userId }}'></user-link>
                        </h3>
                        <div class="uk-accordion-content">
                            <table class="uk-table uk-table-condensed">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="uk-grid uk-grid-divider">
                                                <div class="uk-width-2-4">
                                                    <button ng-hide="transaction.myStatus === 1" class="uk-button uk-button-success" ng-click="mailbox.changeMyTranStatus(transaction, 1)" type="button"><span class="fa fa-thumbs-o-up" /> accetta</button>
                                                    <button ng-hide="transaction.myStatus === 2" class="uk-button uk-button-danger" ng-click="mailbox.changeMyTranStatus(transaction, 2)" type="button"><span class="fa fa-thumbs-o-down" /> rifiuta</button>
                                                    <button class="uk-button uk-button-primary" ng-click="mailbox.raiseOffer(transaction)" type="button"><span class="fa fa-plus-circle" /> rilancia</button>
                                                </div>
                                                <div class="uk-width-2-4">
                                                    <button ng-show="transaction.theirStatus === 0" class="uk-button uk-button-primary" ng-click="mailbox.changeMyTranStatus(transaction, 0)" type="button" disabled><span class="fa fa-clock-o" /> da approvare</button>
                                                    <button ng-show="transaction.theirStatus === 1" class="uk-button uk-button-success" ng-click="mailbox.changeMyTranStatus(transaction, 1)" type="button" disabled><span class="fa fa-thumbs-o-up" /> accettata</button>
                                                    <button ng-show="transaction.theirStatus === 2" class="uk-button uk-button-danger" ng-click="mailbox.changeMyTranStatus(transaction, 2)" type="button" disabled><span class="fa fa-thumbs-o-down" /> rifiutata</button>
                                                    <user-link data-user='{{ transaction.userId }}'></user-link>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="uk-grid uk-grid-divider">
                                                <div class="uk-width-2-4">
                                                    <ul class="uk-grid uk-text-center uk-grid-width-1-1 uk-grid-width-medium-1-2 uk-grid-width-large-1-3">
                                                        <li ng-repeat="item in transaction.myItems" style="margin-bottom:5px">
                                                            <article class="uk-comment uk-animation-shake">
                                                                <header class="uk-comment-header">
                                                                    <img class="uk-comment-avatar" ng-src="data:image/gif;base64,{{item.game.gameData.image}}" alt="{{item.game.gameData.title}}" style="height:80px">
                                                                    <h4 class="uk-comment-title">{{item.game.gameData.title}}</h4>
                                                                    <div class="uk-comment-meta">{{item.game.gameData.language.description}} - {{item.game.gameData.status.description}}</div>
                                                                </header>
                                                            </article>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="uk-width-2-4">
                                                    <ul class="uk-grid uk-text-center uk-grid-width-1-1 uk-grid-width-medium-1-2 uk-grid-width-large-1-3">
                                                        <li ng-repeat="item in transaction.theirItems" style="margin-bottom:5px">
                                                            <article class="uk-comment uk-animation-shake">
                                                                <header class="uk-comment-header">
                                                                    <img class="uk-comment-avatar" ng-src="data:image/gif;base64,{{item.game.gameData.image}}" alt="{{item.game.gameData.title}}" style="height:80px">
                                                                    <h4 class="uk-comment-title">{{item.game.gameData.title}}</h4>
                                                                    <div class="uk-comment-meta">{{item.game.gameData.language.description}} - {{item.game.gameData.status.description}}</div>
                                                                </header>
                                                            </article>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
    </div>
</form>