<!-- Side navbar -->
<div id="navbar-side" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav ng-hide="userCtrl.isLoggedIn()">
            <li style="margin-bottom: 5px">
                <form-login-side></form-login-side>
            </li>
        </ul>
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav ng-show="userCtrl.isLoggedIn()">
            <li class="uk-parent uk-nav-header">
                Connesso come <span class="nav-header-username">{{ userCtrl.getCurrentUser().userName }}</span>
            </li>
            <li class="uk-parent">
                <a href="#" ng-click="userCtrl.logout()">
                    Esci
                </a>
            </li>
            <li class="uk-parent">
                <a href="#/edit-register">
                    Il mio profilo
                </a>
            </li>
            <li class="uk-nav-divider"></li>            
            <li class="uk-parent uk-nav-header">
                Funzioni
            </li>
            <li class="uk-parent">
                <a href="#/mail" class="uk-navbar-nav-subtitle">
                    <i class="fa fa-envelope-o fa-status-{{ userCtrl.getCurrentUser().Messages.All > 0 ? 'warn' : 'ok' }}">
                    </i> 
                    Messaggi
                </a>
            </li>
            <li class="uk-parent">
                <a href="#/library" class="uk-navbar-nav-subtitle">
                    <i class="fa fa-list"></i> Libreria
                </a>
            </li>
            <li class="uk-parent">
                <a href="#/exchange" class="uk-navbar-nav-subtitle">
                    <i class="fa fa-exchange"></i> Baratto
                </a>
            </li>
            <li class="uk-parent">
                <a href="#/feedback-vote" class="uk-navbar-nav-subtitle">
                    <i class="fa fa-star" /><i class="fa fa-star-half-o" /><i class="fa fa-star-o" /> Feedback                    
                </a>
            </li>
        </ul>
    </div>
</div>