<!-- Footer navbar -->
<footer class="footer">
    <div class="container">
        <article>
            Ciao a tutti sono l'articolo del footer
        </article>
        <ul class="uk-breadcrumb uk-text-right">
            <li><a href="">Chi siamo</a></li>
            <li><a href="#/regolamento">Regolamento</a></li>
            <li><a href="">Guida</a></li>
            <li><a href="">Feedback</a></li>
            <li><a href="">Contattami</a></li>
            <li class="uk-active"><a href=""><span class="uk-icon-facebook-official"></span></a></li>
        </ul>
        <small>©2015 uPlayAgain. Design by []</small> 
    </div>
</footer>