<!-- Footer navbar -->
<div class="uk-container-center uk-width-medium-1-2">
    <div data-uk-grid-margin="" class="uk-grid uk-grid-collapse uk-grid-margin uk-grid-divider">
        <div class="uk-width-medium-1-3">
            <div class="uk-panel">
                <h4>uPlayAgain</h4>
                <a href="">Chi siamo</a><br>
                <a href="#/regolamento">Regolamento</a><br>
                <a href="#/contattaci">Contattaci</a><br>
                <a href="#/spedizioni">Spedizioni</a>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel">
                <h4>Guide</h4>
                <a href="#/come-funziona">Come funziona</a><br>
                <a href="#/feedback">Guida ai feedback</a>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel">
                <h4>Social</h4>
                <span class="uk-icon-facebook-official"></span> <a href="">Facebook</a><br>
                <span class="uk-icon-google-plus-square"></span> <a href="">Google+</a><br>
                <span class="uk-icon-twitter-square"></span> <a href="">Tweeter</a>           
            </div>
        </div>
    </div>
</div>
