<p>
    <b>Informazioni sulle spedizioni.</b>
</p>
<p>
    Nel caso in cui effettuare lo scambio di persona non risulti possibile per l’eccessiva distanza tra i due utenti o per qualsivoglia motivo, i due utenti
    possono accordarsi per spedire i videogiochi utilizzando il servizio delle poste italiane. In questo caso invitiamo gli utenti ad accordarsi nella scelta
    del metodo di spedizione.
</p>
<p>
    <b>Posta prioritaria(sconsigliata):</b>
</p>
<ul type="disc">
    <li>
        Servizio Postale Universale
    </li>
    <li>
        Spedisci lettere, documenti, comunicazioni, libri e piccoli oggetti fino a 2 Kg
    </li>
    <li>
        Più di 50000 cassette postali a tua disposizione per la spedizione
    </li>
    <li>
        Se la busta è troppo grande e non entra nella cassetta, puoi spedirla da uno degli uffici postali presenti su tutto il territorio nazionale
    </li>
</ul>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <td>
                <p>
                    Scaglioni di peso
                </p>
            </td>
            <td>
                <p>
                    Piccolo standard
                </p>
            </td>
            <td>
                <p>
                    Medio standard
                </p>
            </td>
            <td>
                <p>
                    Extra standard o qualunque formato non standard
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    fino a 20 g
                </p>
            </td>
            <td>
                <p>
                    0,80
                </p>
            </td>
            <td>
                <p>
                    2,15
                </p>
            </td>
            <td>
                <p>
                    2,15
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Oltre 20 g e fino a 50 g
                </p>
            </td>
            <td>
                <p>
                    2,15
                </p>
            </td>
            <td>
                <p>
                    2,15
                </p>
            </td>
            <td>
                <p>
                    2,40
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Oltre 50 g e fino a 100 g
                </p>
            </td>
            <td>
                <p>
                    ---
                </p>
            </td>
            <td>
                <p>
                    2,40
                </p>
            </td>
            <td>
                <p>
                    2,95
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    *Oltre 100 g e fino a 250 g
                </p>
            </td>
            <td>
                <p>
                    ---
                </p>
            </td>
            <td>
                <p>
                    2,95
                </p>
            </td>
            <td>
                <p>
                    3,65
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Oltre 250 g e fino a 350 g
                </p>
            </td>
            <td>
                <p>
                    ---
                </p>
            </td>
            <td>
                <p>
                    3,65
                </p>
            </td>
            <td>
                <p>
                    5,95
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Oltre 350 g e fino a 1000 g
                </p>
            </td>
            <td>
                <p>
                    ---
                </p>
            </td>
            <td>
                <p>
                    5,95
                </p>
            </td>
            <td>
                <p>
                    9,15
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Oltre 1000 g e fino a 2000 g
                </p>
            </td>
            <td>
                <p>
                    ---
                </p>
            </td>
            <td>
                <p>
                    9,15
                </p>
            </td>
            <td>
                <p>
                    9,15
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    *peso medio di un videogioco comprensivo di custodia e libretto
</p>
<p>
    Attenzione: la posta prioritaria è il metodo di spedizione più economico, la spedizione però non è né rintracciabile né assicurata.
</p>
<p>
    <b>Posta raccomandata(consigliata):</b>
</p>
<ul type="disc">
    <li>
        Servizio Postale Universale
    </li>
    <li>
        Consegna <b>in 4-5 giorni</b>, oltre quello di spedizione, solo al destinatario o a soggetti abilitati
    </li>
    <li>
        Attestazione legale dell'avvenuta spedizione (D.Lvo 261/99)
    </li>
    <li>
        In caso di assenza, ritiro presso l'ufficio indicato nell'avviso di giacenza
    </li>
    <li>
        Giacenza di 30 giorni
    </li>
    <li>
        Monitoraggio con <a href="http://www.poste.it/online/dovequando/home.do">Cerca Spedizioni</a> o via sms con PosteMobile.
    </li>
</ul>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <td>
                <p>
                    Scaglioni di peso
                </p>
            </td>
            <td>
                <p>
                    euro
                </p>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    fino a 20 g
                </p>
            </td>
            <td>
                <p>
                    4,00
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    oltre 20 g fino a 50 g
                </p>
            </td>
            <td>
                <p>
                    5,20
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    oltre 50 g fino a 100 g
                </p>
            </td>
            <td>
                <p>
                    5,50
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    *oltre 100 g fino a 250 g
                </p>
            </td>
            <td>
                <p>
                    5,95
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    oltre 250 g fino a 350 g
                </p>
            </td>
            <td>
                <p>
                    6,70
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    oltre 350 g fino a 1000 g
                </p>
            </td>
            <td>
                <p>
                    8,20
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    oltre 1000 g fino a 2000 g
                </p>
            </td>
            <td>
                <p>
                    10,95
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    *peso medio di un videogioco comprensivo di custodia e libretto
</p>
<p>
    Puoi informarti sullo stato della tua spedizione:
</p>
<ul type="disc">
    <li>
        con <a href="http://www.poste.it/online/dovequando/home.do">Cerca Spedizioni</a> inserendo il codice presente nella ricevuta sotto il codice a barre .
        Il codice deve essere inserito senza interruzioni e senza trattino (es.: 050000201242)
    </li>
    <li>
        chiamando il numero verde 803.160* e fornendo il codice invio
    </li>
    <li>
        con Postemobile, direttamente sul tuo cellulare grazie al nuovo servizio        <a title="scarica" href="http://www.poste.it/online/dovequando/home.do">Cerca Spedizioni</a>.
    </li>
</ul>
<p>
    *chiamata gratuita per chi chiama da rete fissa; chi accede da rete mobile al servizio clienti di Poste Italiane dovrà comporre il n. 199.100.160. Il costo
    della chiamata è legato all'operatore utilizzato ed è pari al massimo a euro 0,60 al minuto più euro 0,15 alla risposta.
</p>
