<a href="#/user/{{ userId }}">
    <div class="uk-grid uk-grid-collapse uk-display-inline">
        <div class="uk-width-1-5">
            <img class="uk-border-radius userImageBorder" ng-src="data:image/gif;base64,{{link.image}}" width="30" height="30" />
        </div>
        <div class="uk-width-4-5 ">
            <div class="uk-progress">
                <div class="uk-progress-bar uk-progress-striped" ng-style="{'width': link.rankingPercentage+'%'}" data-uk-tooltip title="{{link.summary()}}">
                    <small>{{link.rankingPercentage| number : 0}}%</small>
                </div>                
            </div>
        </div>        
    </div>
</a>