<a href="#/user/{{ userId }}">
    <div class="uk-grid uk-display-inline">
        <div class="uk-width-1-2">
            <img class="uk-border-radius" ng-src="data:image/gif;base64,{{link.image}}" width="30" height="30" />
        </div>
        <div class="uk-width-1-2">
            <div round-progress
                 max="100"
                 current="link.rankingPercentage"
                 color="#ff8400"
                 bgcolor="#b3c7dd"
                 radius="25"
                 stroke="10"
                 semi="true"
                 rounded="false"
                 clockwise="true"
                 responsive="false"
                 duration="800"
                 animation="easeInOutQuart" style="display:inline; margin:5px; top:8px;"></div>            
        </div>        
        <div class="uk-width-1-2">
                {{ link.username }} <small>- {{link.rankingPercentage}}% su {{link.rankingCount}} scambi </small>
        </div>
    </div>
</a>