<form name="registrationForm" class="uk-form" novalidate>
    <fieldset data-uk-margin>
        <div class="uk-grid">
            <div class="uk-width-1-2 uk-container-center">
                <legend>Profilo utente</legend>
                <div class="uk-grid">
                    <div class="uk-width-1-2">
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-2">Nome utente</div>
                            <div class="uk-width-1-2">{{ profile.user.username }} - {{profile.user.image}}</div>
                        </div>
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-2">Mail</div>
                            <div class="uk-width-1-2">{{ profile.user.mail }}</div>
                        </div>
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-2">Ultimo accesso</div>
                            <div class="uk-width-1-2">{{ profile.user.lastLogin | date: 'dd-MM-yyyy HH:mm'}}</div>
                        </div>
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-2">Giochi in libreria</div>
                            <div class="uk-width-1-2">{{ profile.user.gameInLibrary}}</div>
                        </div>
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-2">Feedback</div>
                            <div class="uk-width-1-2"> {{profile.user.FeedbackAvg}} </div>
                        </div>
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-2 uk-text-right"><small>Totali</small></div>
                            <div class="uk-width-1-2">{{profile.user.FeedbackCount}} </div>
                        </div>
                        <!--<div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-2 uk-text-right"><small>Ultimo mese</small></div>
                            <div class="uk-width-1-2">+X -Y</div>
                        </div>-->
                        <!--<div class="uk-grid uk-grid-small">
                            <div class="uk-width-1-2">Ultimo scambio eseguito</div>
                            <div class="uk-width-1-2"></div>
                        </div>-->
                        <div class="uk-width-1-1">
                            <div class="map_canvas">
                                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false" options="options">
                                    <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id"></ui-gmap-marker>
                                </ui-gmap-google-map>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-divider"></div>
                        <div class="uk-width-1-1">
                            <button class="uk-button" ng-click="profile.sendMessage()">
                                <i class="fa fa-envelope-o"></i> Invia messaggio
                            </button>
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-1-1">

                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
